@font-face {
    font-family: 'MainFont'; /*a name to be used later*/
    src: url('../fonts/Altoysitalicpersonalonly.ttf'); /*URL to font*/
}
p{
    font-family: 'MainFont';
    font-size: 130%;
}
.pokemon-name{
    font-size: 250%;
 text-align: center;
}
body{
    background-color: rgba(51, 122, 183, 0.91);
}

.evolution-cell{
background-color: rgba(18, 18, 116, 0.43);    
}

.fixed-nav-bar{
        background-color: rgb(20, 20, 140);
    border: 3px solid #000000;
    border-radius: 0px 0px 6px 6px;
    position: fixed;
    height: 100px;
    overflow: hidden;
    width: 100%;
    top: 0px;
    z-index: 9999;
}

#nav-bar-margin{
    margin-bottom: 100px;
}

#record-table-row{
    margin-top: 10px;
    position: relative;
    border: 5px solid;
    border-radius: 10px;
}


.first-evolution-div{
    background-color: bisque;
}
.pokemon-image{
    width: 140px;
    height: 150px;
    display: block;
    margin: auto ;
}

